
nav, main {
    background-image: url('assets/textures/fabric_plaid.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    float: right;
}

section {
    padding: 25px;
}

nav, nav div, section {
    display: flex;
    justify-content: space-between;
}

span {
    display: flex;
    flex-direction: column;
}
.logo {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

footer {
    background-image: url('assets/textures/az_subtle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}